.*safetensors filter=lfs diff=lfs merge=lfs -text
/home/radamir/EvidantixTask/EvidantixInternshipTask/ner-product-model/model.safetensors filter=lfs diff=lfs merge=lfs -text
ner-product-model/model.safetensors filter=lfs diff=lfs merge=lfs -text
